.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(39 132 199 / 65%) !important;
    }

    .form a{
        color: rgb(72 70 72);
    }
    .form a:hover{
        color:#131312
    }
    
    .card-header{
        background: rgb(35 132 202 / 96%);
    }
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: whitesmoke;
   
    
    }
    .social_icon .fab{
        font-size: 30px;
    }
    .social_icon span:hover{
    color: #FFC312;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -30px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    color: rgb(72 70 72);
    }